@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-text-normal: rgb(255 255 244);
    --color-text-muted: rgb(170 170 170);
    --color-text-dark: rgb(16 22 23);

    --color-menu-main: rgb(33 36 37);
    --color-menu-light: rgb(55 60 62);
    --color-menu-hover: rgb(71 77 79);
    --color-menu-dark: rgb(20 23 25);

    --color-accent: rgb(210, 22, 22);
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
    cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
    cursor: default;
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}
